{% extends "learning_logs/base.html" %}

{% block content %}
  <div class="container mt-5">
    <p><a href="{% url 'learning_logs:topic' topic.id %}" class="btn btn-secondary">&lt; Voltar ao tópico</a></p>

    <h2>Adicionar uma nova entrada para o tópico: <strong>{{ topic }}</strong></h2>

    <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post" class="mt-4">
      {% csrf_token %}
      
      <div class="form-group">
        {{ form.as_p }}
      </div>

      <button type="submit" class="btn btn-primary">Adicionar Entrada</button>
    </form>
  </div>
{% endblock content %}
