{% extends "learning_logs/base.html" %}

{% block header %}
  <div class="container mt-5">
    <h2 class="text-center">Adicionar um novo tópico:</h2>
  </div>
{% endblock header %}

{% block content %}
  <div class="container mt-4">
    <form action="{% url 'learning_logs:new_topic' %}" method="post">
      {% csrf_token %}
      
      <!-- Campo de Nome do Tópico -->
      <div class="form-group">
        <label for="{{ form.topic_name.id_for_label }}" class="form-label">Nome do Tópico</label>
        {{ form.topic_name }}
        {% if form.topic_name.errors %}
          <div class="invalid-feedback">
            {% for error in form.topic_name.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      
      <!-- Botão de Submissão -->
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Adicionar Tópico</button>
      </div>
    </form>
  </div>
{% endblock content %}
